@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;    
    color: #314584;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

header,
nav,
.logo,
.nav-right,
.contact_us_link,
.contact_us_link a,
.block_slider-links,
.red_link {
    display: flex;
    align-items: center;
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}

nav {    
    justify-content: space-between;
}

a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

p {
    margin: 0;
}

ul {    
    list-style-type: none;
    padding-left: 0;
}

.logo {
    padding-left: 20px;
    padding-right: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}

#menu_toggle {
    display: none;
}

.menu_button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 32px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
}

.menu_button > span,
.menu_button > span::before,
.menu_button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #314584;
}

.menu_button > span,
.menu_button > span::before,
.menu_button > span::after,
.nav-left,
.nav-left li{
    transition-duration: .25s;
}

.menu_button > span::before {
    content:"";
    top: -8px;
}

.menu_button > span::after {
    content:"";
    top: 8px;
}

.nav-left {
    display: block;
    position: fixed;
    visibility: hidden;
    text-align: center;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 60px 20px;
    background-color: #314584;
    z-index: 4;
}

#menu_toggle:checked ~ .menu_button > span {
    transform: rotate(45deg);
    background-color: #fff;
}

#menu_toggle:checked ~ .menu_button > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff;
}

#menu_toggle:checked ~ .menu_button > span::after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    background-color: #fff;
}

#menu_toggle:checked ~ .nav-left {
    visibility: visible;
    left: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-left li {
    color: #fff;
    margin-bottom: 15px;
}

.select_language {    
    display: inline-block;
    position: relative;    
    margin-right: 15px; 
}

.select_language::after{
    content: url("../images/arrow_down.png");
    position: absolute;
    right: 6px;
    top: 1px;
    z-index: 3;
    background-color: #ffffff;
}

.language {
    border: none;
    color: inherit;
    font-size: 18px;
    font-weight: 600;
}

.language:focus {
    outline: none;
}

.contact_us_link {    
    height: 60px;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(233,224,234,1);    
    color: #ff3946;
}

.contact_us_link a {
    padding-left: 34px;
    padding-right: 23px;
}

.contact_us_link span {
    margin-right: 14px;    
    color: inherit;
    white-space: nowrap;
}

.block_slider {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.block_slider-left {
    width: 100%;
}

.block_slider-right,
.slick-slider {
    display: none!important;
}

.block_slider-left h1 {
    font-size: 24px;
    margin-bottom: 45px;
}

.block_slider-left p {
    color: #6e757a;
    line-height: 23px;    
    margin-bottom: 37px;
}

.red_link {        
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;    
    height: 56px;
    background-color: #ff3946;
    color: #ffffff;    
    box-shadow: 0 5px 5px rgba(255,230,232,1);
    border: none;
    cursor: pointer;
    padding-left: 38px;
    padding-right: 36px;    
    border-radius: 27px;
}

.block_slider-left .red_link {    
    margin-right: 39px;
}

.block_slider-right img{
    width: 100%;
}

.block_portfolio {
    text-align: center;
    margin-bottom: 40px;
}

.block_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: left;
}

.block_portfolio-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.block_portfolio-item {
    width: 28%; 
    height: 98px;
    margin-right: 28px;
    margin-bottom: 31px;
    background-color: #c3d0d8;
}

.block_portfolio-item:nth-child(3n){
    margin-right: 0;
}

.block_portfolio-item:nth-last-child(1), 
.block_portfolio-item:nth-last-child(2), 
.block_portfolio-item:nth-last-child(3) {
    margin-bottom: 0;
}

.block_portfolio a{
    color: #ff3946;
}

.block_contact_us {
    margin-bottom: 60px;
}

.block_contact_us  .block_subtitle {
    text-transform: uppercase;
    color: #ff3946;
    font-weight: 600;
    margin-bottom: 12px;
}

.block_contact_us .block_title {
    margin-bottom: 30px;
}

.block_contact_us form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block_contact_us input,
.block_contact_us textarea {
    background-color: #f4fafe;
    width: 100%;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: 600;    
    font-family: 'Work Sans', sans-serif; 
}

.block_contact_us input {
    height: 20px;    
    padding: 10px;
    margin-bottom: 15px;
}

.block_contact_us textarea {
    height: 60px;  
    padding: 10px;
    margin-bottom: 30px;  
}

.block_contact_us input::-webkit-input-placeholder,
.block_contact_us textarea::-webkit-input-placeholder {
    color: inherit;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #314584;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.footer_info p:nth-child(1) {
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer_info p:nth-child(2) {
    text-transform: uppercase;
    color: #ff3946;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer_info ul {
    display: flex;
    margin-bottom: 25px;
}

.footer_info li {
    margin-right: 46px;
}

.footer_info li:nth-last-child(1) {
    margin-right: 0;
}

.copyright {
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_info .social_info {
    display: flex;
    justify-content: space-between;
    width: 254px;
}

.social_info img {
    width: auto;
    height: 20px;
}

@media screen and  (min-width: 600px) {
    header {
        justify-content: space-around;
    }
    .block_portfolio-item {
        width: 160px; 
        height: 121px;
    }

    .social_info img {
        width: auto;
        height: 24px;
    }
}

@media screen and  (min-width: 700px) {
    body {
        font-size: 16px;
    }

    .block_title,
    .block_slider-left h1,
    .footer_info p:nth-child(2) {
        font-size: 28px;
    }

    .block_portfolio-items {        
        justify-content: space-between;
    }

    .block_portfolio-item {
        width: 30%;
        height: 151px;
    }
}

@media screen and  (min-width: 768px) {
    header {
        flex-direction: column;
        justify-content: unset;
        padding: 32px 15px;
    }

    nav {
        max-width: 100%;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 15px;
    }

    .menu_button {
        display: none;
    }

    .nav-left {
        display: flex;
        position: unset;
        visibility: visible;
        width: 65%;
        background-color: inherit;
        padding: 0;        
        margin-right: 15px;
    }

    .nav-left li {
        margin-bottom: 0;
        width: auto;
        margin-right: 15px;
    }

    .nav-left li:nth-last-child(1) {
        margin-right: 0;
    }

    .nav-left a {
        color: #314584;
    }

    .nav-right {
        width: 35%;
    }

    .select_language {
        margin-right: 15px;
    }

    .block_slider-left{
        width: 60%;
        padding-right: 15px;
    }

    .block_slider-right {
        display: flex!important;
        width: 35%;
    }

    .slick-slider {
        display: flex!important;
    }

    .slick-prev:before, 
    .slick-next:before {
        color: #314584!important;
        opacity: 1!important;
    }

    .block_portfolio-item {
        height: 166px;
    }
}

@media screen and  (min-width: 830px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        width: 780px;
    }

    .block_title,
    .block_slider-left h1,
    .footer_info p:nth-child(2) {
        font-size: 32px;
    }

    .block_contact_us input {
        width: 42%;   
        padding: 20px;
    }
    
    .block_contact_us input:first-child {    
        margin-right: 44px;
    }
    
    .block_contact_us textarea {
        width: 100%;
        height: 76px;
        margin-top: 25px;
        margin-bottom: 66px;    
        padding: 22px;
    }
}

@media screen and  (min-width: 1220px) {
    .container {
        max-width: 1170px;
    }

    nav {
        width: 1170px;
    }

    .nav-left {
        margin-right: 0;
    }

    .nav-left li {
        margin-right: 46px;
    }

    .nav-right {
        justify-content: flex-end;
    }

    .select_language {
        margin-right: 48px;
    }

    .block_slider {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .block_slider-left {
        margin-right: 75px;
    }

    .block_slider-left {
        width: 50%;
    }

    .block_slider-right {
        width: 40%;
    }
    
    .block_slider-left h1 {
        font-size: 55px;
        margin-bottom: 40px;
    }

    .block_title,
    .footer_info p:nth-child(2) {
        font-size: 40px;
    }

    .block_portfolio-items,
    .block_contact_us {
        margin-bottom: 56px;
    }

    .block_portfolio-item {
        width: 371px;
        height: 281px;
    }
    
    .block_contact_us  .block_subtitle {
        margin-bottom: 25px;
    }

    .block_contact_us .block_title {
        margin-bottom: 40px;
    }

    .block_contact_us input {
        width: 45%;
    }

    .block_contact_us input:first-child {    
        margin-right: 32px;
    }

    footer {
        padding-top: 51px;
        padding-bottom: 51px;
    }

    .footer_info p:nth-child(1) {
        margin-bottom: 20px;
    }

    .footer_info p:nth-child(2) {
        font-size: 44px;
        margin-bottom: 40px;
    }
    
    .footer_info ul {
        margin-bottom: 40px;
    }

    .footer_info .copyright {
        margin-bottom: 38px;
    }
}

@media screen and  (min-width: 1300px) {
    .block_slider {
        margin-bottom: 267px; 
    }

    .block_slider-left h1 {
        font-size: 73.48px;
        line-height: 98px;
        margin-bottom: 29px;
    }

    .block_slider-left p {
        line-height: 30px;
    }

    .block_portfolio {
        margin-bottom: 293px;
    }

    .block_title {
        font-size: 48.43px;
        margin-bottom: 76px;        
        line-height: 59px;
    }

    .block_portfolio-items {
        margin-bottom: 51px;
    }

    .block_contact_us {
        margin-bottom: 60px;
    }

    .block_contact_us  .block_subtitle {
        margin-bottom: 16px;
    }
    
    .block_contact_us .block_title {
        margin-bottom: 43px;
    }

    footer {
        padding-top: 63px;
    }

    .footer_info p:nth-child(1) {
        margin-bottom: 10px;
    }
    
    .footer_info p:nth-child(2) {
        font-size: 48.43px;
        margin-bottom: 13px;
    }
    
    .footer_info ul {
        margin-bottom: 51px;
    }

    .footer_info .copyright {
        margin-bottom: 42px;
    }

    .social_info img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1347px) {
    header {
        flex-direction: row;
        padding: 64px 0 81px 0;
    }

    .logo {
        margin-bottom: 0;
    }
}